<h3>Hello, please add your selling price and itemID</h3>

<div>
    <form action='/add' method='post'>
        <input type='number' name='sellingPrice' placeholder='selling price' step=".01">
        <input type='number' name='itemId' placeholder='item ID'>
        <button>Add</button>
    </form>
</div>

<button><a href='/run'>Run Monitor</a></button>