<h1>Testing</h1>



<% if(page_name==='test'){%>
    <h2>This is working</h2>
<%}else{ %>
    <h2>did not work</h2>
<%}%>

<form action='/null' method='post'>
<input type='text' name='null'>
<button>submit</button>
</form>

<form action='/update' method='post'>
<button>Update</button>
</form>